// @import "{{ site.theme }}";

figure figcaption {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: larger;
}

.multi_option {
    // color: #fff;
    text-align: center;
    // background-color: #159957;
    // background-image: linear-gradient(120deg, #155799, #159957);
    padding: 1rem 1rem;

    .btn {
        margin-bottom: 1rem;
    }
}

.site-footer-owner {
    white-space: nowrap;
}

.site-footer-credits {
    white-space: nowrap;
}


// 3D Model Viewer Settings
model-viewer {
    width: 100%;
    height: 30rem
}
  

.hotspot{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    box-sizing: border-box;
    pointer-events: none;
}

.annotation{
    background-color: #888888;
    position: absolute;
    transform: translate(10px, 10px);
    border-radius: 10px;
    padding: 10px;
}

  /* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
    display: none;
}
