<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ site.baseurl }}">ESTHER</a>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {% for item in site.nav %}
        <li class="nav-item">
        {% if item.title == page.title %}
          <a class="nav-link active" aria-current="page" href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
        {% else %}
          <a class="nav-link" href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
        {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</nav>